<div class="recipe-detail" *ngIf="recipe$ | async as recipe; else loading">
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        {{recipe.title}}
      </mat-card-title>
      <mat-card-subtitle>{{recipe.chef?.name}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image [src]="recipe.image.url">
    <mat-card-content>
      <p>
        {{recipe.description}}
      </p>
    </mat-card-content>
    <mat-card-footer>
      <mat-chip-list aria-label="Recipe Tag">
        <mat-chip *ngFor="let tag of recipe.tags">{{tag.name}}</mat-chip>
      </mat-chip-list>
    </mat-card-footer>
  </mat-card>

</div>

<ng-template #loading>
  <div>Loading ...</div>
</ng-template>
