<div class="recipes-list" *ngIf="recipes$ | async as recipes; else loading">
  <mat-card *ngFor="let recipe of recipes" [routerLink]="[ '/recipes', recipe.id ]">
    <mat-card-title>
      <a mat-button [routerLink]="[ '/recipes', recipe.id ]">{{recipe.title}}</a>
    </mat-card-title>
    <mat-card-content>
      {{recipe.description}}
    </mat-card-content>

    <mat-card-actions>
      <mat-chip-list aria-label="Recipe Tag">
        <mat-chip *ngFor="let tag of recipe.tags">{{tag.name}}</mat-chip>
      </mat-chip-list>
    </mat-card-actions>
  </mat-card>

</div>

<ng-template #loading>
  <div>Loading ...</div>
</ng-template>
